body {
  margin: 0;
  font-family: sans-serif;
}

.zeyada-regular {
  font-family: "Zeyada", cursive;
  font-weight: 400;
  font-style: normal;
}

header {
  background-color: #33443c;
  color: #f6efe9;
  text-align: center;
  padding: 10px;
}

.middleheader {
  background-color: #33443c;
  color: #f6efe9;
  text-align: center;
  padding: 10px;
  width: 100%;
  height: 300px;
}

.sura-regular {
  font-family: "Sura", serif;
  font-weight: 400;
  font-style: normal;
}

.section {
  display: inline-block;
  width: 90%;
  padding: 10px;
}

.logo {
  width: 70%;
  height: 90%;
}

.espcenter {
  width: 50%;
  height: 50%;
}

.parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 15px;
  grid-row-gap: 30px;
}

.parent2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.backgroundmain {
  width: 100%;
  height: 600px;
  background-image: url("images/top.jpg");
  background-size: cover;
  background-position: center;
  color: #ffffff;
  text-align: center;
  box-sizing: border-box;
}

.background1 {
  width: 100%;
  height: 300px;
  background-image: url("images/thin1.jpg");
  background-size: cover;
  background-position: center;
  color: #ffffff;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}

.background2 {
  width: 100%;
  height: 300px;
  background-image: url("images/thin2.jpg");
  background-size: cover;
  background-position: center;
  color: #ffffff;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}

.background3 {
  width: 100%;
  height: 300px;
  background-image: url("images/thin3.jpg");
  background-size: cover;
  background-position: center;
  color: #ffffff;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}

.background {
  width: 100%;
  height: 380px;
  background-size: cover;
  background-position: center;
  background-color: #33443c;
  font:bolder;
  color: #ffffff;
  text-align: center;
  padding: 5px;
  box-sizing: border-box;
}

.parentbg {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 5px;
  grid-row-gap: 0px;
}

.parentbottombg {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 0px;
}

/* Styles for the booking button */
#bookingButton {
  background-color: #f6efe9;
  color: #33443c;
  font-size: 26px;
  font-weight: bolder;
  font-family: "Zeyada", cursive;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 90%;
  transition: background-color 0.3s, color 0.3s;
}

#bookingButton:hover {
  background-color: #33443c;
  color: #f6efe9;
}
