body {
    margin: 0;
    font-family: , sans-serif;
  }

  header {
    background-color: #33443c;
    color: #f6efe9;
    text-align: center;
    padding: 10px;
  }

  .sura-regular {
    font-family: "Sura", serif;
    font-weight: 400;
    font-style: normal;
  }

  .section {
    display: inline-block;
    width: 30%;
    padding: 10px;
  }

  .logo {
    width: 100px;
    height: 40px;
  }

  .parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 30px;
    }